body {
  background-color: #03081B;
  background-image: url("assets/fondo2.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}
 .content {
  min-height: calc(100vh - 159.5px);
} 

